FIREWORKS_API_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cleanearth
LLM_MODEL=accounts/fireworks/models/gpt-oss-20b
EMBEDDING_MODEL=nomic-ai/nomic-embed-text-v1.5
WATER_TYPE=freshwater
